<section class="mb-3 ftco-section testimony-section ftco-no-pb">
    <div class="img img-bg border" style="background-image:url(images/bg_4.jpg)"></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Вислови великих людей</span>
                <h2 class="mb-3">Хороші слова про книги</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Людина з гарною книгою в руках ніколи не може бути самотньою.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-15.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">К. Гольдоні</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Читання книги – це ніби розмова з найкращими людьми минулих століть</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-14.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Декарт</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Книги – найкращі друзі. До них можна звертатися в усі важкі хвилини життя. Вони ніколи не зрадять</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-13.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">А. Доде</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Одні книги змушують нас мріяти, інші занурюють у дійсність, але всі вони пройняті найголовнішим для автора – щирістю</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-12.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">П. Коельо</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Книги – не мертві речі, а істоти, що містять у собі насіння життя. В них – чистісінька енергія і екстракт того живого розуму, що їх створив</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-11.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Д. Мільтон</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Ти ще не знаєш, що то за втіха ті книжки! Там цілий мир, вищий, кращий від сього, в якому ми барахтаємося мов свині в барлозі</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-10.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">П. Мирний</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Книга – вчитель без плати та подяки. Кожну мить вона дарує тобі одкровення мудрості»</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-4.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">А. Навої</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Якщо шукаєш в книгах мудрості уважно, то знайдеш велику користь для душі своєї</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-9.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Нестор Літописець</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Книги мають особливу чарівність; вони дають нам насолоду: вони розмовляють з нами, дають нам добрі поради, вони стають живими друзями для нас</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-8.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Ф. Петрарка</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Випадкова зустріч з гарною книгою може назавжди змінити долю людини</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-7.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">М. Прево</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Література вилучена із законів тління. Вона одна не визнає смерті</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-6.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">М. Салтиков-Щедрін</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Все, що я знаю про своє життя, мені здається, я вичитав з книг</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-5.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Ж.-П. Сартр</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-quote-left"></span>
                            </div>
                            <div class="text">
                                <p class="mb-4">Не розум від книг, а книги від розуму створились</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image:url(images/book-5.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Г. Сковорода</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>