@typeparam TItem
<section class="ftco-section">
    <div class="container-fluid px-md-5">
        <div class="row">
            @if (List != null)
            {
                @foreach (var item in List)
                {
                    @ElementTemplate(item)
                }
            }
        </div>
    </div>
</section>

@code {
    [Parameter]
    public RenderFragment<TItem> ElementTemplate { get; set; }

    [Parameter]
    public List<TItem> List { get; set; }
}
