@typeparam TItem

@if (List != null)
{
    if (List.Count == 0)
    {
        <h3 style="color: indianred" class="my-4 text-center">Список пустий!</h3>

    }
    @foreach (var item in List)
    {
        @ElementTemplate(item)
    }
}

@code {
    [Parameter]
    public RenderFragment<TItem> ElementTemplate { get; set; }

    [Parameter]
    public List<TItem> List { get; set; }
}
