@typeparam TItem
@if (List == null)
{
    <div class="loader">
        <div class="lineLoader oneLineLoader"></div>
        <div class="lineLoader twoLineLoader"></div>
        <div class="lineLoader threeLineLoader"></div>
    </div>
}
else if (List.Count == 0)
{
    if (EmptyFragment != null)
    {
        @EmptyFragment
    }
    else
    {
        <text> Список пустий! </text>
    }
}
else
{
    foreach (var item in List)
    {
        @ElementTemplate(item)
    }

}


@code {
    [Parameter]
    public RenderFragment EmptyFragment { get; set; }

    [Parameter]
    public RenderFragment<TItem> ElementTemplate { get; set; }

    [Parameter]
    public List<TItem> List { get; set; }
}
