<div class="container-fluid px-md-5 py-0 py-md-0">
    <div class="row justify-content-between py-1">
        <div class="col-md-3 d-inline-flex justify-content-center">
            <div class="social-media">
                <p class="my-0 d-flex">
                    <a href="https://github.com/smetanskyy/LibShare.Blazor.git" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                    <a href="https://github.com/smetanskyy/LibShare.Blazor.git" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                    <a href="https://github.com/smetanskyy/LibShare.Blazor.git" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                    <a href="https://github.com/smetanskyy/LibShare.Blazor.git" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                </p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <a class="navbar-brand" href="index">Книжковий обмін <span>Онлайн</span> <small>Зазирни у книжковий світ!</small></a>
        </div>
        <div class="col-md-3 d-inline-flex justify-content-center">
            <EditForm OnSubmit="Search" Model="SearchModel" method="GET" class="searchform order-lg-last">
                <div class="form-group d-flex">
                    <InputText @bind-Value="@SearchModel.SearchField" type="text" class="form-control pl-3" placeholder="Пошук" />
                    <button style="cursor:pointer;" type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                </div>
            </EditForm>
        </div>
    </div>
</div>