<div class="container px-md-5 py-2 py-md-0">
    <div class="row justify-content-center py-4">
        <a class="text-center" style="word-wrap: break-word" href="/"><span>По данній адресі нічого не знайдено. Перейдіть на головну сторінку!</span></a>
    </div>
</div>