<footer class="ftco-footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Правила</h2>
                    <ul class="list-unstyled">
                        <li><a href="privacyPolicy"><span class="fa fa-chevron-right mr-2"></span>Політика конфіденційності</a></li>
                        <li><a href="termConditions"><span class="fa fa-chevron-right mr-2"></span>Умови користування</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Інформація</h2>
                    <ul class="list-unstyled">
                        <li><a href="about"><span class="fa fa-chevron-right mr-2"></span>Про нас</a></li>
                        <li><a href="blog"><span class="fa fa-chevron-right mr-2"></span>Блог</a></li>
                        <li><a href="contact"><span class="fa fa-chevron-right mr-2"></span>Контакти</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Якщо є питання?</h2>
                    <div class="block-23">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Україна, м. Рівне, вул. Соборна 110</span></li>
                            <li><a href=""><span class="icon fa fa-phone"></span><span class="text">+38 (067) 480 3649</span></a></li>
                            <li><a href=""><span class="icon fa fa-paper-plane"></span><span class="text">libshare@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Авторські права &copy; @year
                        Всі права захищені | Зроблено з <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

@code{ string year = DateTime.Now.Year.ToString(); }