<footer class="ftco-footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md">
                <div class="ftco-footer-widget">
                    <h2 class="ftco-heading-2">Адреса</h2>
                    <div class="block-23">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Україна, м. Рівне, вул. Соборна 110</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md">
                <div class="ftco-footer-widget">
                    <div class="block-23 text-center">
                        <ul>
                            <li><a href=""><span class="icon fa fa-phone"></span><span class="text">+38 (067) 480 3649</span></a></li>
                            <li><a href=""><span class="icon fa fa-paper-plane"></span><span class="text">libshare@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Авторські права &copy; @year
                        Всі права захищені | Зроблено з <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

@code{ string year = DateTime.Now.Year.ToString(); }