@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<AboveNavMenu />
<NavMenu />
<Toast @ref="Toast" />>
<div>
    <CascadingValue Value="Toast">
        @Body
    </CascadingValue>
</div>

<Footer />

@code {
    [CascadingParameter] public Toast Toast { get; set; }
    protected override async void OnAfterRender(bool firstRender)
    {
        await JSRuntime.RenderJS();
        base.OnAfterRender(firstRender);
    }
}