@page "/about"

<section class="hero-wrap hero-wrap-2" style="background-image:url(images/bg_5.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate mb-0 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/index">головна <i class="fa fa-chevron-right"></i></a></span> <span>Про нас <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Про нас</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image:url(images/about-1.jpg)">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                <div class="heading-section">
                    <span class="subheading">Ласкаво просимо на наш сайт</span>
                    <h3 class="mb-4">Створено за підтримки methan inc.</h3>
                    <p>
                        Ще з далекого дитинства ми пам’ятаємо, що книга – це джерело знань. І що ті, хто читає, завжди будуть керувати тими,
                        хто дивиться телевізор. Цінність книг неможливо охопити, адже вони примушують нас вмикати свою уяву – ось чому читати
                        роман завжди цікавіше, ніж дивитися його екранізацію.
                    </p>
                    <p>
                        Про важливість книг для людства говорили класики і продовжують говорити видатні особистості сучасності. Сказано було
                        так багато і так влучно, що ми вирішили зібрати найкращі вислови та цитати про книги в одному місці. Якщо ви любите
                        читати так само, як ми, то цей сайт – для вас!
                    </p>
                    <a href="/books" class="btn btn-primary">Переглянути усі книги</a>
                </div>
            </div>
        </div>
    </div>
</section>

<ExpressionsPeople />

<FakeStatistics/>