@page "/categoty"
<Spinner @ref="LoadSpinner" />

<section class="hero-wrap hero-wrap-2" style="background-image:url(images/bg_5.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate mb-0 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Топ переглядів <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Топ переглядів</h1>
            </div>
        </div>
    </div>
</section>

@if (BooksList != null)
{
    <section class="ftco-section">
        <div class="container-fluid px-md-5">
            <div class="row">
                <GenericList List="@BooksList">
                    <ElementTemplate>
                        <BookElement Book="context"></BookElement>
                    </ElementTemplate>
                </GenericList>
            </div>
        </div>
    </section>

    <Pagination CurrentPage="PageNumber" TotalAmountPages="TotalAmountPages" SelectedPage="SelectedPage" />
}
