@page "/contact"

<section class="hero-wrap hero-wrap-2" style="background-image:url(images/bg_5.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate mb-0 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/index">Головна <i class="fa fa-chevron-right"></i></a></span> <span>Зв'яжіться з нами <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Зв'яжіться з нами</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper px-md-4">
                    <div class="row mb-5">
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                    <p><span>Адрес:</span> Україна, м. Рівне, вул. Соборна 110</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                    <p><span>Телефон::</span> +38 (067) 480 3649</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                    <p><span>Email:</span> libshare@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text">
                                    <p><span>Website</span> bookstore.tk</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="contact-wrap bg-light w-100 p-md-5 p-4">
                                <h3 class="mb-4">Зв'яжіться з нами</h3>

                                <EditForm Model="Model" method="POST" class="contactForm" OnValidSubmit="OnSubmitHandle">
                                    <text class="text-danger">@ErrorMessage</text>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Ім'я</label>
                                                <InputText @bind-Value="Model.Name" class="form-control px-2" placeholder="Ім'я" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Email</label>
                                                <InputText type="email" @bind-Value="Model.Email" class="form-control px-2" placeholder="Email" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Тема</label>
                                                <InputText @bind-Value="Subject" class="form-control px-2" placeholder="Тема" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Текст повідомлення</label>
                                                <textarea @bind="Text" name="message" class="form-control px-2" id="message" cols="30" rows="4" placeholder="Текст повідомлення" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Відправити повідомлення" class="btn btn-primary px-2">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </EditForm>

                            </div>
                        </div>
                        @*<div class="col-md-5 order-md-first d-flex align-items-stretch">
                            <div id="map" class="map"></div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>