@page "/"
@page "/index"
<section class="hero-wrap" style="background-image:url(images/bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100">
                    <h1 class="mb-4">Книги — це ріки, що наповнюють моря</h1>
                    <p class="ml-3 mb-4">
                        Книги – морська глибина:<br />
                        Хто в них пірне аж до дна,<br />
                        Той, хоч і труду мав досить<br />
                        Дивнії перлини виносить. Франко І. Я.
                    </p>
                    <p>
                        <a href="/books" class="btn btn-primary py-3 px-4">Переглянути усі книги</a>
                        <a href="/register" class="btn btn-white py-3 px-4 ml-3">Приєднатися</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt mt-5 mt-md-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <a href="/category?chosenCategory=child">
                        <div class="icon-wrap">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-fantasy"></span>
                            </div>
                        </div>
                    </a>
                    <h2><a href="/category?chosenCategory=child">Дитяча література</a></h2>
                    <p>Книжки - кораблі думки, що мандрують хвилями часу</p>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <a href="/category?chosenCategory=82">
                        <div class="icon-wrap">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-heart"></span>
                            </div>
                        </div>
                    </a>
                    <h2><a href="/category?chosenCategory=82">Художня література</a></h2>
                    <p>Люди перестають мислити, коли перестають читати</p>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <a href="/category?chosenCategory=5">
                        <div class="icon-wrap">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-model"></span>
                            </div>
                        </div>
                    </a>
                    <h2><a href="/category?chosenCategory=5">Інформаційні технології</a></h2>
                    <p>Бібліотеки - це скарбниці всіх багатств людського духу</p>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <a href="/category?chosenCategory=">
                        <div class="icon-wrap">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-history"></span>
                            </div>
                        </div>
                    </a>
                    <h2><a href="/category?chosenCategory=">Історія</a></h2>
                    <p>Книга — це джерело освіти, знання і якщо збагачення, то збагачення культурного і душевного</p>
                </div>
            </div>
        </div>
    </div>
</section>

<FakeStatistics />
<ExpressionsPeople />