@page "/message"

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="wrapper px-md-4">
                <div class="row no-gutters">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h5 class="mb-4">    Ви успішно зареєструвалися! Вам на пошту відправлено посилання для підтвердження електронної пошти. Перейдіть по ньому для завершення реєстрації! Дякуємо за розуміння!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
