.imagebox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.image {
    opacity: 1;
    display: block;
    width: 90%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imagebox:hover .image {
    opacity: 0.3;
}

.imagebox:hover .middle {
    opacity: 1;
}